# Ignorer le dossier node_modules
node_modules/

# Ignorer les fichiers de configuration locaux
.env
.DS_Store

# Ignorer les fichiers de build ou de sortie
/dist/
/build/
/output.css
/input.css

# Ignorer les fichiers de dépendances
package-lock.json